build
.vscode
.pyc
.ktx
cmake-build-debug
/cmake-build-debug/
/.ccls-cache/
/.dir-locals.el
__pycache__
.ini
*.convex.*
/wheelhouse
imgui.ini
.mypy_cache
.DS_Store
/.idea
/log
/assets/misc/ktx/day.ktx
/DexPoint.egg-info/
/assets/checkpoints/
dexpoint/env/rl_env/__pycache__/base.cpython-38.pyc
